* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piano{
  display: flex;
  margin-top: 20px;
  gap: 15px;
}

.key {
  width: 60px;
  height: 200px;
  background: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;
  border-radius: 10px;
  color: black;
}

.key:active,
.key.active {
  background: #ddd;
  transform: scale(0.97);
}
